<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <a routerLink="/blog" style="margin-bottom: 20px;" class="btn waves-effect waves-light btn-outline-warning">
                  <i class="fa fa-angle-left" style="font-size:18px"></i>&nbsp;Retour
              </a>

              <h2>Ajouter blog</h2>
              <form (ngSubmit)="updateBlog()">

                  <div class="form-group">
                      <label for="title">Title:</label>
                      <input id="title" type="text" name="title" class="form-control" [(ngModel)]="blogData.title" required>
                  </div>

                  <div class="form-group">
                      <label for="description">Description:</label>
                      <textarea id="description" name="description" class="form-control" [(ngModel)]="blogData.description" required></textarea>
                  </div>

                  <div class="form-group">
                      <label for="image">Image:</label>
                      <input type="file" (change)="handleFileInput($event)" accept="image/*" required>
                  </div>

                  <button class="btn waves-effect waves-light btn-outline-success" type="submit">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>
