<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showBlog(element.id)" color="accent">
                <mat-icon>visibility</mat-icon>
              </button>
            <button mat-icon-button (click)="editBlog(element.id)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
          <button mat-icon-button (click)="deleteblog(element.id)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'description', 'actions']"></tr>
    </table>
  </div>
  
  